# autoconf
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/stamp-h.in

# automake
Makefile.in
/ar-lib
/ylwrap
.deps/
.dirstamp

# gcc / libtool
/ltmain.sh
/libtool
*.o
*.lo
*.la
.libs

# m4
/m4

# Generated build files
Makefile
/ABOUT-NLS
/auto
/po
/gettext.h
/config.h
*.spec
src/neolith
_efuns/edit_source

# vim
*.swp
*~

